html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#0015ff, rgb(126, 124, 124), #FFD523, #ffffff);
}

.relogio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  background-color: #2C2E43;
  width: 300px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  border-radius: 10px;
  color: rgb(255, 0, 0);
  font-size: 7rem;
  border: 10px solid #06ff0b;
  font-family: 'Qahiri', sans-serif;
}

footer {
  font-size: 2rem;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Barlow Condensed', sans-serif;
}